* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: royalblue;
}

#logo {
    font-size: 34px;
    color: white;
    margin: 5px 127px;
    font-weight: bold;
}

#dot {
    font-weight: bolder;
    vertical-align: super;
    margin-left: -5px;
}

.navbar {
    /* width: 100%; */
    float: right;
    margin-right: 104px;
    margin-top: 13px;
}

#header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    /* background-color: #333; */
    /* background-color:rgb(7, 60, 129) ; */
    justify-content: space-between;
    align-items: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    font-weight: lighter;
}

li a:hover {
    background-color: rgb(63, 61, 61);
    border-radius: 5px;
}

#get-it-now {
    border: 2px solid white;
    border-radius: 12px;
    margin-left: 5px;
}
.dropdown{
    display: flex;
}
li span img{
    margin-top: 18px;
    margin-left: -19px;
}

.front-section {
    margin: 0 auto;
    width: 100%;
    margin-top: 100px;
    color: white;
}

.heading {
    /* padding: 0 auto; */
    width: 48%;
    margin: 0 auto;
    font-size: 51px;
}



.sub-heading {
    width: 40%;
    margin: 0 auto;
    font-size: 20px;
    padding-top: 42px;
}

.email {
    display: flex;
    width: 25%;
    margin: 0 auto;
    font-size: 18px;
    padding-top: 38px;
    /* position: relative; */
}

/* #mail{
    padding: 12px 20px;
    border: 2px solid white;
    border-radius: 5px;
  } */
form {
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
    width: 435px;
    margin-left: -51px;
    /* padding: 12px 20px; */
}

input {
    flex-grow: 2;
    border: none;
    padding: 12px 20px;
    font-size: 22px;
    /* width: 300px; */
    /* position: relative; */
}

button {
    position: absolute;
    right: -2px;
    top: 1px;
    border: 1px solid white;
    background: green;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    margin: 5px;
}

.email-plus-btn {
    display: flex;
    position: relative;
}